{% extends 'admin/base.twig' %}

{% block title %}Live Chat - {{ app.name }}{% endblock %}

{%
	set breadcrumbs = [
		{
			link: '/admin/live_chat',
			name: 'Live Chat'
		}
	]
%}

{% block content %}
<section class="content">
	<div class="row">
		{% for chat in chats %}
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
				<div class="box box-success direct-chat direct-chat-success">
					<div class="box-header with-border">
						<h3 class="box-title"><small>Obrolan #{{ chat.id }}</small></h3>
						<div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
							<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
						</div>
					</div>
					<div class="box-body">
						<div class="direct-chat-messages" chat-room="{{ chat.id }}">
							{% for message in chat.chat_messages %}
								<div class="direct-chat-msg {{ message.chat_participant.user is not null? 'right':'' }}">
									<div class="direct-chat-info clearfix">
										<span class="direct-chat-name {{ message.chat_participant.user is not null? 'pull-right':'pull-left' }}">{{ message.chat_participant.user is not null? message.chat_participant.user.full_name:message.chat_participant.guest.name }}</span>
										<span class="direct-chat-timestamp {{ message.chat_participant.user is not null? 'pull-left':'pull-right' }}">{{ message.created_at|date('d M Y H:i a') }}</span>
									</div>
									<img class="direct-chat-img" src="/assets/adminLTE/v2/dist/img/user1-128x128.jpg" alt="Message User Image">
									<div class="direct-chat-text">
										{{ message.text }}
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
					<div class="box-footer">
						<form class="chat-room" chat-room="{{ chat.id }}">
							<div class="input-group">
								<input type="text" name="message" chat-room="{{ chat.id }}" placeholder="Ketik Pesan ..." class="form-control">
								<span class="input-group-btn"><button type="submit" class="btn btn-success btn-flat">Kirim</button></span>
							</div>
						</form>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</section>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
{% for chat in chats %}
	socket.emit('chat-room-join', {{ chat.id }});
{% endfor %}

$('.chat-room').on('submit', function(e) {
	e.preventDefault();
	var room = $(this).attr('chat-room');
	var text = $('input[chat-room="'+room+'"]').val().trim();

	if (text.length > 0) {
		socket.emit('chat-room-message', {
			from: 'user',
			room: room,
			sender: {{ user.id }},
			text: text
		});

		$('input[chat-room="'+room+'"]').val('');
		$('.direct-chat-messages[chat-room="'+room+'"]').append(html_chat('user', '{{user.full_name}}', text, 'xx'));
	}
});
</script>
{% endblock %}
