{% extends 'admin/base.twig' %}

{% block title %}Live Chat - {{ app.name }}{% endblock %}

{%
	set breadcrumbs = [
		{
			link: '/admin/live_chat',
			name: 'Live Chat'
		}
	]
%}

{% block content %}
<section class="content">
	<div class="row">
		{% for chat in chats %}
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
				<div class="box box-success direct-chat direct-chat-success">
					<div class="box-header with-border">
						<h3 class="box-title"><small>Obrolan #{{ chat.id }}</small></h3>
						<div class="box-tools pull-right">
							<span data-toggle="tooltip" title="3 New Messages" class="badge bg-green">3</span>
							<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
							<button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Contacts" data-widget="chat-pane-toggle"><i class="fa fa-comments"></i></button>
							<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
						</div>
					</div>
					<div class="box-body">
						<div class="direct-chat-messages">
							{% for message in chat.chat_messages %}
								<div class="direct-chat-msg {{ message.chat_participant.user is not null? 'right':'' }}">
									<div class="direct-chat-info clearfix">
										<span class="direct-chat-name {{ message.chat_participant.user is not null? 'pull-right':'pull-left' }}">{{ message.chat_participant.user is not null? message.chat_participant.user.full_name:message.chat_participant.guest.name }}</span>
										<span class="direct-chat-timestamp {{ message.chat_participant.user is not null? 'pull-left':'pull-right' }}">23 Jan 2:00 pm</span>
									</div>
									<img class="direct-chat-img" src="/assets/adminLTE/v2/dist/img/user1-128x128.jpg" alt="Message User Image">
									<div class="direct-chat-text">
										{{ message.text }}
									</div>
								</div>
							{% endfor %}
							<div class="direct-chat-msg">
								<div class="direct-chat-info clearfix">
									<span class="direct-chat-name pull-right">Sarah Bullock</span>
									<span class="direct-chat-timestamp pull-left">23 Jan 2:05 pm</span>
								</div>
								<img class="direct-chat-img" src="/assets/adminLTE/v2/dist/img/user3-128x128.jpg" alt="Message User Image">
								<div class="direct-chat-text">
									You better believe it!
								</div>
							</div>
						</div>
					</div>
					<div class="box-footer">
						<form action="#" method="post">
							<div class="input-group">
								<input type="text" name="message" placeholder="Type Message ..." class="form-control">
								<span class="input-group-btn">
								<button type="submit" class="btn btn-success btn-flat">Send</button>
								</span>
							</div>
						</form>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</section>
{% endblock %}
