{% extends 'admin/base.twig' %}

{% block title %}{{ user_profile.username }} - {{ app.name }}{% endblock %}

{% set breadcrumbs = [
	{
		link: '/admin/user',
		name: 'pengguna'
	},
	{
		link: '#',
		name: (user_profile?user_profile.id == user.id?'profil':user_profile.username:'profil')
	}
] %}

{% block content %}
<section class="content">
	<div class="box">
		<div class="box-body">
			<div class="col-lg-6">
				<table class="table table-hover">
					<tr>
						<td>Nama Lengkap</td><td>{{ user_profile.full_name }}</td>
					</tr>
					<tr>
						<td>Email</td><td>{{ user_profile.email }}</td>
					</tr>
					<tr>
						<td>Username</td><td>@{{ user_profile.username }}</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="box-footer">
			<a href="#" onclick="window.history.back();" class="btn btn-default"><i class="fa fa-arrow-circle-left"></i> Kembali</a>
		</div>
		</div>
</section>
{% endblock %}
